.login-container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-form{
    margin-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #BF4E30;
    padding: 2.5rem;
    border-radius: 15px;
  }
  .login-container > .login-form > input{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }
  .login-container > .login-form > button{
    border: none;
    background-color: #E5EAFA;
    padding: 20px;
    border-radius: 10px;
  
  }
  .login-container > .login-form > label{
    text-align: left;
  }